<ul class="list-group">

  <!--<li class="list-group-item">Item 1</li>-->

  <!--<li class="list-group-item">Item 2</li>-->

  <!--<li class="list-group-item">Item 3</li>-->

  <!--*ngFor loops all the tasks-->
  <li *ngFor="let task of tasks" class="list-group-item">
    <div class="task-checkbox">
      <!--change is the change listener for the task event. checked is a property binding on the completed task-->
      <input type="checkbox"
             class="list-child"
             (change)="onTaskChange($event, task)"
             [checked]="task.completed">
      <span ngClass="{{task.completed ? 'name completed' : 'name'}}">{{task.name}}</span>
      <span class="label {{getDueDateLabel(task)}} pull-right">{{task.dueDate}}</span>
    </div>

  </li>



</ul>
